* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 width: 512px;
 font-family: 'dm-sans', sans-serif;
}
header {
    padding: auto;
  margin-top: 24px;
}

#container {
  width: 512px;
  height: 100vh;
  background-color: #36393f;
  display: flex;
  justify-content: center;
  align-items: center;
}
#site_main {
    border-radius: 8px ;
    padding: auto;
  text-align: center;
  color: white;
}