/*common*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&display=swap');



body {
  width: 512px;
  font-family: 'dm-sans', sans-serif;
  background-color: #191d7b;
}

header {
  padding: auto;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

video {
  max-width: 100%;
}

main {
  padding: 4rem 2rem;
}

.app {
  text-align: center;
  padding: 0 1rem;
  color: white;

}

h1 {
  text-transform: uppercase;
  font-family: "sigmar", sans-serif;
  line-height: 1;
  font-size: 40px;
  font-weight: 500;
  margin: 1rem 0;

}

button {
  display: block;
  outline: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 100%;
  border: none;
  font-size: 20px;
  border-radius: 1rem;
}

.button_browser {
  background-color: #5865f2;
  display: block;
  outline: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 100%;
  border: none;
  font-size: 20px;
  border-radius: 1rem;
  text-decoration: none;
  color: white
}

/* Banners */
.banners {
  padding: 2rem;
  margin: 5rem;

}

.banner {
  position: relative;
  border-radius: 2rem;
  background-color: #5d64d1;
}

h2 {
  text-transform: uppercase;
  font-family: "sigmar", sans-serif;
  line-height: 1;
  font-size: 40px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: white;
  padding: 4rem 2rem 0;
}

p {
  color: white;
  padding: 2rem 2.5rem;
}

.banner_img {
  border-radius: 2rem;
  padding: 2rem 2.5rem;
  border-radius: 4rem;

}

.discord_cube {
  max-width: 20%;
  position: absolute;
  top: -3rem;
  left: 4rem;

}

footer {
  padding: 3rem;
  margin-top: -8rem;
}
